appening.db.url = jdbc:mysql://localhost:3306/appening?useUnicode=true&characterEncoding=utf8
appening.db.user = root
appening.db.password = 

appening.collect.intervalSeconds = 60
appening.collect.circleLat = 52.3741
appening.collect.circleLng = 4.897
appening.collect.circleRadiusKm = 10

appening.export.intervalSeconds = 300
appening.export.minMentions = 10
appening.export.minMentionDays = 7
appening.export.recentMessages = 10
appening.export.awsAccessKey = 
appening.export.awsSecretKey = 
appening.export.S3Bucket = www.appening.at
appening.export.s3Prefix = data/
appening.export.googleMapsKey = 

appening.twitter.minMentions = 10
appening.twitter.minMentionDays = 7
appening.twitter.urlPrefix = http://www.appening.at/
appening.twitter.accessToken = 
appening.twitter.accessSecret = 
appening.twitter.consumerKey = 
appening.twitter.consumerSecret = 
appening.twitter.lastMentionedMins = 120
appening.twitter.minRank = 10


